@model ControleDeVendas.Venda;
@using System.Globalization;

<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
            <h3>Registrar nova venda</h3>
            <br>
            <form asp-controller="Vendas" asp-action="Criar" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Nome do produto</label>
                <input type="text" class="form-control" asp-for=NomeProduto placeholder="Insira o nome do produto" required>
              </div>
              
              <div class="form-group">
                    <input type="hidden" class="form-control" asp-for=IdCliente placeholder="" value="@ViewBag.Id" required>
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">Quantidade</label>
                <input type="number" class="form-control" asp-for=Quantidade placeholder="A quantidade" required>
              </div>
              
              <br>
                  <button type="submit" class="btn btn-primary">Confirmar</button>
                  <button type="submit" class="btn btn-primary" asp-action="index">Cancelar</button>
            </form>
		    </div>
		    <div class="col-md-8" style="overflow: auto; height:400px";>
                <h3>Lista de produtos</h3>
                <table class="table">
                  <thead class="table-dark">
                     <tr>
                        <th scope="col" class="">#</th>
                        <th scope="col" class="">Nome</th>
                        <th scope="col" class="">Stock</th>
                        <th scope="col" class="">Preço</th>
                        <th scope="col" class="">Sobre</th>
                        <th>
                            <a role="button" class="btn btn-primary" asp-action="Criar" >Adcionar</a>
                        </th>
                     </tr>
                  </thead>
                 <tbody>
                    @{
                            DatabasePrograma db = new DatabasePrograma();
                            dynamic data = db.GetAllProdutos();
                            foreach (var item in data)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td scope="row">@item.Nome</td>
                                    <td scope="row">@item.Stock</td>
                                    <td scope="row">@string.Format(new CultureInfo("pt-PT"), "{0:c}", item.Preco)</td>
                                    <td scope="row">@item.Descricao</td>
                                </tr>
                            }
                   }            
                 </tbody>
        </table>
		</div>
	</div>
</div>