@using System.Globalization;


<h3 class="align-self-center" >Lista de vendas do cliente</h3>
<br><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8" style="overflow: auto; height:400px;">
            <table class="table">
              <thead class="table-dark">
                 <tr>
                    <th scope="col" class="">#</th>
                    <th scope="col" class="">Cliente</th>
                    <th scope="col" class="">Produto</th>
                    <th scope="col" class="">Quantidade</th>  
                    <th scope="col" class="">Total</th>
                    <th scope="col" class="">Preço</th>
                    <th>
                        <a role="button" class="btn btn-primary" asp-route-id="@ViewBag.Id" asp-action="Criar" >Adcionar</a>
                    </th>
                 </tr>
              </thead>
             <tbody>
                @{
                        int id = ViewBag.Id;
                        DatabasePrograma db = new DatabasePrograma();
                        Venda venda = new Venda();
                        Cliente cliente = new Cliente();
                        cliente.Id = id;

                        venda.NomeCliente = db.GetCliente(cliente).Nome;
                        dynamic data = db.GetVendasGroup(venda);
                        foreach (var item in data)
                        {
                            <tr>                
                                   <td scope="row">@item.Id</td>
                                   <td scope="row">@item.NomeCliente</td>
                                   <td scope="row">@item.NomeProduto</td>
                                   <td scope="row">@item.Quantidade</td>
                                   <td scope="row">@string.Format(new CultureInfo("pt-PT"), "{0:c}", item.Total)</td>
                                   <td scope="row">@string.Format(new CultureInfo("pt-PT"), "{0:c}", item.Preco)</td>                               
                            </tr>
                        }
               }            
             </tbody>
        </table>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
